<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdc.edu.vn.qlsv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GiaoDien.Dangky"></activity>
        <activity
            android:name=".GiaoDien.ActivityLoaiThietBi"
            android:label="" />
        <activity
            android:name=".GiaoDien.ActivityThietBi"
            android:label="" />
        <activity
            android:name=".GiaoDien.ActivityChiTietSD"
            android:label="" />
        <activity
            android:name=".GiaoDien.ActivityPhongHoc"
            android:label="" />
        <activity
            android:name=".GiaoDien.DangNhap"
            android:label="" />
        <activity
            android:name=".GiaoDien.MainActivity"
            android:label="Trang chủ" />
        <activity
            android:name=".GiaoDien.ActivitySplash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>